@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}